@model GroupDocsViewerJava.Models.GroupDocsViewerJavaPart
<fieldset>
    <legend>GroupDocs Viewer for Java fields</legend>

    <div class="editor-label">
        @Html.LabelFor(model => model.Url)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Url) @Html.ValidationMessageFor(model => model.Url)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Width)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Width) @Html.ValidationMessageFor(model => model.Width)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Height)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Height) @Html.ValidationMessageFor(model => model.Height)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.DefaultFileName)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.DefaultFileName) @Html.ValidationMessageFor(model => model.DefaultFileName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.UseHttpHandlers)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.UseHttpHandlers) @Html.ValidationMessageFor(model => model.UseHttpHandlers)
    </div>

</fieldset>
